includes:
  - vendor/larastan/larastan/extension.neon
  - vendor/nesbot/carbon/extension.neon

parameters:
  checkOctaneCompatibility: true
  checkModelProperties: true

  paths:
    - app/

  level: 6

  ignoreErrors:
    - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder<Illuminate\\Database\\Eloquent\\Model>#'
